.chart{
    background-color:royalblue;
    width: fit-content;
    margin:0 auto;
    border-radius: 10px;
    margin-bottom: 50px;
}
.container-chart{
width: auto;
}

@media only screen and (max-width:800px) {
.chart{
width: auto;
display: flex;
flex-direction: column;
}

}

