.container-main-about{
margin-top: 100px;
}

.contairner-first-text{
padding-bottom: 50px;
}

.cont-text-about{
width: 900px;
padding: 20px;
margin:0 auto;
text-align: left;
}
.container-about-main{
background-color: #3e6feb;
padding: 50px;
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(10, 4, 88));
background-image: url(../Assets/Bannerservice.png);
background-size: cover;
}
.container-grid-about{
display: grid;
grid-template-columns: repeat(2,1fr);
width: fit-content;
margin: 0 auto;
gap: 15px;
}
.about{
width: fit-content;
text-align: left;
max-width: 400px;
padding:20px 20px 20px 20px;
border-radius: 10px;
transition: 0.8s;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.about:hover{
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(10, 4, 88));
transform:  scale( 1.04);
}

.container-grid-about-second-main{
padding: 50px;
}
.container-grid-about-second{
display: grid;
grid-template-columns: repeat(2,1fr);
width: 900px;
gap: 15px;
margin:0 auto;
padding: 20px;
}
.icon{
color: white;
background-color: royalblue;
padding: 10px;
width: 40px;
height:40px;
border-radius: 50%;
margin:0 auto;
margin-bottom: 10px;
font-size: 20px;
display: flex;
align-items: center;
justify-content: center;
}
.title-about{
font-size: 50px;
color:rgb(153, 154, 235);
padding: 20px 0 10px 0px;
text-align: center;
}
.text-about-second{
color: rgb(153, 154, 235);
}
.title-about-second{
font-size: 50px;
color:rgb(153, 154, 235);
padding: 20px 0 10px 0px;
text-align: center;
}
.text-about{
font-size: 20px;
color:rgb(153, 154, 235);
text-align: center;
max-width: 920px;
margin:0 auto;
width: auto;
}

.container-about-join{
width:800px ;
margin: 0 auto;
text-align: left;
padding: 100px 20px 100px 20px;
}
.text-about-join{
color: rgb(153, 154, 235);
}
.about-second{
width: 400px;
text-align: left;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
padding: 20px;
border-radius: 10px;
transition: 0.8s;
}
.about-second:hover{
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(10, 4, 88));
transform:  scale( 1.04);
transition: 0.5s ease;
}

.link-about{
display: block;
padding: 20px;
color: white;
background-color: royalblue;
border-radius: 5px;
text-decoration: none;
transition: 0.6s ease;
margin-top: 20px;
width: fit-content;
}

.link-about:hover{
color: white;
background-color: rgb(8, 59, 214);
}


@media screen and (max-width:1150px) {
.container-grid-about-second{
display: grid;
grid-template-columns: repeat(2, 1fr);
width: fit-content;
}

.about-second{
width: 300px;
height: auto;
padding: 20px;
}

.about{
width: auto;
}
.container-grid-about{
width: fit-content;
}
}

@media  screen and (max-width:800px) {
.cont-text-about{
width: auto;
 }
 .title-about{
width: auto;
 }
.text-about{
width: auto;
padding: 20px;
}
.title-about-second{
width:auto;
margin:0 auto;
}

.container-grid-about{
display: grid;
grid-template-columns: repeat(1,1fr);
width: auto;
padding: 10px;
}
.container-about-main{
padding: 40px 10px 10px 10px;
}
.container-grid-about-second{
display: grid;
grid-template-columns: repeat(1,1fr);
width: auto; 
padding: 10px;
}
.container-grid-about-second-main{
padding: 0px 0px 40px 0px;
}
.about-second{
width: auto;
}

.container-about-join{
width: auto;
padding: 20px;
text-align: left;
}
.title-about-second{
padding: 0px;
width: auto;
}
.about{
width: auto;
margin:0 auto;
}
.text-about-join{
text-align: left;
width: auto;
}
.cont-link-join{
margin-top: 20px;
}
}

