.container-main-about{
padding: 50px 0 0 0;
}
.cont-text-about{
width: 900px;
padding: 20px;
margin:0 auto;
text-align: left;
}
.container-about-main{
background-color: #3e6feb;
padding: 50px;
}
.container-grid-about{
display: grid;
grid-template-columns: repeat(2,1fr);
width: 700px;
margin: 0 auto;
gap: 15px;
margin: 0 auto;
}
.about{
width: 300px;
text-align: left;
}
.container-grid-about-second-main{
background-color: #e6e2f3;
padding: 50px;
}
.container-grid-about-second{
display: grid;
grid-template-columns: repeat(2,1fr);
width: 900px;
gap: 10px;
background-color: #e6e2f3;
margin:0 auto;
padding: 20px;
}
.title-about{
font-size: 50px;
color: royalblue;
padding: 20px 0 10px 0px;
text-align: center;
}
.title-about-second{
font-size: 50px;
color: rgb(20, 20, 20);
padding: 20px 0 10px 0px;
text-align: center;
}
.text-about{
font-size: 20px;
padding: 20px 50px 20px 50px;
color: #1d1c1c;
text-align: center;
}

.container-about-join{
width:800px ;
margin: 0 auto;
text-align: left;
}
.about-second{
width: 400px;
text-align: left;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
padding: 20px;
background-color:  #3e6feb;
border-radius: 10px;
}
.link-about{
padding: 15px;
color: white;
background-color: royalblue;
border-radius: 5px;
text-decoration: none;
transition: 0.6s ease;
}
.link-about:hover{
color: white;
background-color: rgb(8, 59, 214);
}
.cont-link-join{
margin-top: 20px;
}
@media screen and (max-width:1150px) {
.container-grid-about-second{
display: grid;
grid-template-columns: repeat(2, 1fr);
width: fit-content;
}
.about-second{
width: 300px;
height: auto;
padding: 20px;
}
}

@media  screen and (max-width:800px) {
.cont-text-about{
width: auto;
 }
 .title-about{
width: auto;
 }
 .text-about{
width: auto;
 }
.title-about-second{
width:auto;
margin:0 auto;
}
.container-grid-about{
display: grid;
grid-template-columns: repeat(1,1fr);
width: auto;
padding: 10px;
}
.container-about-main{
padding: 40px 10px 10px 10px;
}
.container-grid-about-second{
display: grid;
grid-template-columns: repeat(1,1fr);
width: auto; 
padding: 10px;
}
.container-grid-about-second-main{
padding: 0px 0px 40px 0px;
}
.about-second{
width: auto;
}
.container-about-join{
width: auto;
padding: 20px;
text-align: left;
}
.title-about-second{
padding: 0px;
width: auto;
}
.about{
width: auto;
margin:0 auto;
}
.text-about-join{
text-align: left;
width: auto;
}
.cont-link-join{
margin-top: 20px;
}
}

