.container-contact-main{
background-image: url(../Assets/contact.png);
background-repeat: no-repeat;
background-size: cover;
margin-top: 50px;
}
.container-contact-text{
height: fit-content;
padding: 100px 20px 20px 20px;
}
.text-contact-text{
max-width: 700px;
margin:0 auto;
font-size: 20px;
text-align: center;
padding:10px ;
color: rgb(160, 161, 189);
}
.container-contact{
display: grid;
grid-template-columns: repeat(2,1fr);
height: fit-content;
margin:0 auto;
padding: 5px;
width: fit-content;
border-radius: 20px;
background-color: rgb(24, 71, 211);
}
.container-contact div:nth-child(2){
background-image: url(../Assets/iPhone.png);
background-position-x: 40px;
background-position-y: 100px;
background-size: 400px;
background-repeat: no-repeat;
}

.label{
margin-top: 10px;
margin-bottom: 6px;
}
.form-contact{
width: 400px;
border-radius: 10px;
margin:0 auto;
color: rgb(238, 238, 238);
padding:40px 20px 40px 20px;
background-color: rgb(24, 71, 211) ; 
}
.form-contact div:nth-child(6){
margin-bottom: 0px;
}  

.form-contact div:nth-child(2){
margin-bottom: 0px;
background-color: transparent;
}

.input-contact{
border: none;
border-bottom: 1px solid royalblue;
color: rgb(156, 157, 204);
outline: none;
padding: 15px;
font-size: 15px;
transition: 0.7s ease;
box-sizing: border-box;
width: 100%;
margin-bottom:5px;
background-color:transparent;
}
    
.input-contact:focus{
box-shadow:0px 2px 0px 0px royalblue ;
}
    
.btn-contact{
background-color: royalblue;
color: white;
padding: 15px;
border-radius: 5px;
border: none;
font-size: 17px;
width: 100%;
}
.btn:focus{
box-shadow:0px 0px 0px 2px rgb(4, 9, 26);
}
   
.btn-contact:hover{
background-color: rgb(10, 16, 37);
}

.contact{
width: 450px;
text-align: left;
padding: 20px;
height: auto;
background-color: rgb(24, 71, 211);
}

div .label{
color: rgb(225, 227, 235);
}

.text-contact{
color: rgb(240, 240, 245);
padding: 10px;
}

.icon-text{
margin-right: 5px;
}

.title-contact{
padding: 20px 0px 20px 0px;
font-size: 50px;
color:rgb(207, 215, 230);
text-align: center;
}

.title-cont{
padding: 20px ;
color:white;
font-size: 40px;
}

.container-form-contact{
padding: 20px 0 0 0 ;
}
.icon-contact{
background-color: white;
}


textarea{
border: none;
border-bottom: 1px solid royalblue;
outline: none;
padding: 15px;
font-size: 15px;
transition: 0.7s ease;
width: 100%;
margin-bottom:5px;
box-sizing: border-box;
resize:none;
font-family:  serif;
scroll-behavior: none;
background-color:transparent;
color: rgb(153, 154, 235);
}
textarea:focus{
box-shadow:0px 2px 0px 0px royalblue;
}

.cont-text-form{
width: auto;
margin:0 auto;
text-align: center;
padding: 0 40px 40px 40px;
}

.title-datails{
padding: 20px 0px 0px 0px;
color: rgb(153, 154, 235);
font-size: 30px;
}

.container-contact-card{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
width: fit-content;
margin: auto;
text-align: center;
padding: 40px 0px 100px 0px;
}
.card-datails{
padding: 20px;
width: 300px;
height: fit-content;
border-radius:5px;
box-shadow: 0px 5px 15px rgba(40, 40, 139, 0.1);
background-color: rgb(6, 11, 71);
transition: 0.5s;
}
.card-datails:hover{
background-color:rgb(24, 71, 211) ;
}
.icon-datails-card{
background-color: royalblue;
padding: 10px;
color: white;
border-radius: 50%;
width: 30px;
height: 30px;
}
.text-datails-card{
color: white;
padding: 10px;
}
.erro{
color: red;
font-size: 12px;
padding: 10px;
}

.icon-check{
font-size: 14px;
color: blue;
margin-left: 10px;
}

.success-msg{
font-size: 14px;
color: blue;
padding: 10px;
}
@media screen and (max-width:1150px) {
.container-contact{
display: grid;
grid-template-columns: repeat(1,1fr);
width: fit-content;
padding: 0px 0 40px 0;
} 

.form-contact{
width: 350px;
margin:0 auto;
}
.container-contact-card{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;
width: fit-content;
margin: auto;
text-align: center;
padding: 40px 0px 100px 0px;
}
}

@media screen and (max-width:800px) {
.container-contact{
display: grid;
grid-template-columns: repeat(1,1fr);
width: fit-content;
padding: 40px 0 40px 0;
}
.contact{
width: auto;
padding: 0px;
margin:0 auto;
}
.container-contact-text{
width: auto;
}
.container-form-contact{
padding: 0px;
margin:0 auto;
}
.form-contact{
width: 300px;;
margin:0 auto;

}
.input-contact{
width:100%;
}
.container-visit-contact{
padding: 10px;
}
.input-contact{
width: 280px;
}
.title-cont{
text-align: center;
}
#text-contact{
padding: 15px;
text-align: center;
}
.cont-text-form{
padding-bottom: 150px;
}
.container-contact-card{
display: grid;
grid-template-columns: repeat(1,1fr);
gap: 10px;
width: fit-content;
margin: auto;
text-align: center;
padding: 40px 0px 100px 0px;
}
}