.container-contact-main{
margin-top: 100px;
}

.container-contact{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;
margin:0 auto;
padding: 40px;
width: 900px;
background-image: url(../Assets/mansmile.png);
background-position: 600px;
background-size: 300px;
background-repeat: no-repeat;
background-position-y: 230px;
}
.container-contact-bg{
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(10, 4, 88));
}

.label{
margin-top: 10px;
margin-bottom: 6px;
}
    
.input-contact{
border: none;
outline: none;
background-color: aliceblue;
padding: 15px;
font-size: 15px;
border-radius: 5px;
transition: 0.7s ease;
width: 92%;
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(52, 44, 161));
color: rgb(153, 154, 235);
}
    
.input-contact:focus{
box-shadow:0px 0px 0px 3px rgb(136, 130, 192);

}
    
.btn{
background-color: royalblue;
color: white;
padding: 15px;
border-radius: 5px;
border: none;
margin-top: 10px;
font-size: 17px;
}
.btn:focus{
box-shadow:0px 0px 0px 2px royalblue;
}
    
.btn:hover{
background-color: rgb(22, 71, 218);
}
.contact{
width: 510px;
text-align: left;
padding: 20px;
border-radius: 10px;
height: fit-content;
}
.container-contact-text{
padding: 20px;
width: 700px;
margin:0 auto;
color: #555;
text-align: left;
}
.text-contact{
color: rgb(153, 154, 235);
}

.text-contact-text{
font-size: 20px;
text-align: center;
padding:0 0 50px 0;
color: rgb(153, 154, 235);
}

.title-contact{
padding: 20px 0px 20px 0px;
font-size: 50px;
color: rgb(153, 154, 235);
text-align: center;
}

.title-cont{
padding: 20px 0px 20px 0px;
color:rgb(153, 154, 235);
font-size: 40px;
}

.container-form-contact{
padding: 20px 0 0 0 ;
}
.icon-contact{
background-color: white;
}
.form-contact{
width: 400px;
padding: 40px ;
border-radius: 10px;
margin-top: 20px;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(10, 4, 88));
}
.textarea{
resize: none;
font-family:  serif;
scroll-behavior: none;
}
#subject{
background-color: aliceblue;
}
.cont-text-form{
width: auto;
margin:0 auto;
text-align: center;
padding: 0 40px 40px 40px;
}
.visit-contact{
width: auto;
max-width: 780px;
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(10, 4, 88));
margin:0 auto;
padding: 40px;
border-radius: 10px;
margin-bottom: 50px;
text-align: left;
}
.title-visit{
padding: 20px 0px 0px 0px;
color: rgb(153, 154, 235);
font-size: 30px;
}
.container-visit-contact{
padding: 50px;
}

.erro{
color: red;
font-size: 12px;
padding: 10px;
}

.icon-check{
font-size: 14px;
color: blue;
margin-left: 10px;
}

.success-msg{
font-size: 14px;
color: blue;
}
@media screen and (max-width:1150px) {
.container-contact{
display: grid;
grid-template-columns: repeat(1,1fr);
width: fit-content;
padding: 0px 0 40px 0;
} 
.input-contact{
width:92%;
}
.form-contact{
padding: 20px;
width: 350px;
margin:0 auto;
}
}

@media screen and (max-width:800px) {
.container-contact{
display: grid;
grid-template-columns: repeat(1,1fr);
width: fit-content;
padding: 0px 0 40px 0;
}
.contact{
width: auto;
padding: 10px;
margin:0 auto;
}
.container-contact-text{
width: auto;

}
.container-form-contact{
padding: 0px;
margin:0 auto;
}
.form-contact{
padding: 20px;
width: 340px;
margin:0 auto;
}
.input-contact{
width: 310px;;
}
.container-visit-contact{
padding: 10px;
}
.visit-contact{
width: 320px;
}
}