.container-contact{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;
margin:0 auto;
padding: 40px;
width: 900px;
}
.container-contact-bg{
background-color: royalblue;
}
.contact{
width: 510px;
text-align: left;
padding: 20px;
border-radius: 10px;
height: fit-content;
}
.container-contact-text{
padding: 20px;
width: 800px;
margin:0 auto;
color: #555;
text-align: left;
}

.text-contact{
font-size: 20px;
}
.title-contact{
padding: 20px 0px 20px 0px;
color: rgb(15, 16, 19);
}

.container-form-contact{
padding: 20px 0 0 0 ;
}
.icon-contact{
background-color: white;
}
.form{
padding: 40px ;
border-radius: 10px;
margin-top: 20px;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
width: fit-content;
background-color: white;
}
#textarea{
resize: none;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.visit-contact{
width: 800px;
background-color:aliceblue;
margin:0 auto;
padding: 40px;
border-radius: 10px;
margin-bottom: 50px;
text-align: left;
}
.title-visit{
padding: 20px 0px 0px 0px;
color: royalblue;
}
.container-visit-contact{
padding: 50px;
}