.container-btn-modal{
width: 100%;
margin-top: 40px;
}

.container-modal{
position: fixed;
width: 100%;
z-index: 1;
left: 0;
top: 0;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
}
    
.title-signIn{
font-size: 40px;
color: royalblue;
}
    
.modal-signin{
text-align: left;
padding:10px ;
width: 400px;
border-radius: 5px;
height: fit-content;
}
.link-signIn{
text-decoration: none;
background-color: royalblue;
color: white;
padding: 20px;
font-size: 20px;
border-radius: 5px;
}

.link-signIn:hover{
background-color: blue;
color: white;
}
.text-regist{
display: flex;
align-items: center;
justify-content: center;
}
.redirect-link{
font-size: 10px;
}
.link-redirect{
margin-left: 10px;
font-size: 10px;
text-decoration: none;
color: blue;
}
.container-checkbox{
display: flex;
padding: 10px;
}
.input-checkbox{
border: none;
margin-right: 10px;
}
.containair-btn-modal{
display: flex;
align-items: center;
justify-content: center;
height: 500px;
}   
.btn-modal-close{
background-color:transparent;
border: none;
cursor: pointer;
float: right;
padding: 10px;
}
   
.label{
margin-top: 10px;
margin-bottom: 6px;
}
.input-signin{
width:100%;
border: none;
outline: none;
background-color: aliceblue;
padding: 10px;
font-size: 15px;
border-radius: 5px;
transition: 0.7s ease;
box-sizing: border-box;
}   
.input-signin:focus{
box-shadow:0px 0px 0px 3px royalblue;
}
    
.btn-signin{
background-color: royalblue;
color: white;
padding: 10px;
border-radius: 5px;
border: none;
margin-top: 10px;
font-size: 17px;
width: 100%;
}


.btn-signin:focus{
box-shadow:0px 0px 0px 2px royalblue;
}
    
.btn-signin:hover{
background-color: rgb(22, 71, 218);
}
#btngoogle{
width:100%;
}
.erro{
color: red;
font-size: 12px;
padding: 10px;
max-width: 200px;
}
.erro-pass{
color: red;
font-size: 12px;
padding: 10px;
max-width: 200px;
}
.success-login{
color: blue;
font-size: 15px;
}
.icon-google{
margin-right: 5px;
}
.icon-success{
margin-left: 5px;
}
.icon-error{
margin-left: 5px;
}
.icon-modal{
margin-right: 10px;
    }

@media only screen and (max-width:800px) {
.modal-signin{
width:auto;
}
}