.container-comment-main{
padding: 50px 0 50px 0;
background-color:  #3e6feb;
}
.container-comment-in{
display: flex;
gap: 10px;
width: 500px;
padding: 40px;
margin:0 auto;
border-radius: 10px;
text-align: left;
background-color: royalblue;
}
.container-comment{
display: flex;
overflow: hidden;
width: 100%;
height: 240px;
}

@keyframes animeRight{
    0%{
       transform: translate(100%);
    
    }
    100%{
      transform: translate(0);  
    }
}

.comment{
padding: 20px;
position: absolute;
text-align: left;
opacity: 0;
}
.text-comment{
font-size: 20px;
color: white;
}
.comment-active{
padding: 20px;
animation:animeRight 0.5s ease-in-out;
width:100%;
height: 250px;
}
.quote-left{
color: white;
margin-right: 10px;
}
.quote-right{
color: white;
margin-left: 10px;
}
.container-dot{
display: inline-block;
}

.container-dot-btn{
text-align: center;
}
.title-coments{
color: rgb(25, 1, 247);
font-size: 50px;
padding: 20px;
text-align: center;
}

.dot{
background-color: rgb(20, 5, 228);
width: 10px;
height: 10px;
border: none;
cursor: pointer;
border-radius: 360px;
margin-right: 1px;
}
.dot-active{
background-color: rgb(235, 236, 240);
width: 10px;
margin-right: 1px;
height: 10px;
border: none;
border-radius: 360px;
}
    

.container-img{
border: 1px solid white;
padding: 2px;
width: 100px;
height: 100px;
border-radius: 360px;
margin: 0 auto;
}
.image{
width: 100px;
height: 100px;
border-radius: 360px;

}

.container-prev-next{
width: 100%;
}
.btn-next,
.btn-prev{
margin-top: -10%;
border: none;
padding: 20px;
font-size: 20px;
border-radius: 5px;
position: absolute;
transform: translateY(-50%);
z-index: 1;
cursor: pointer;
background-color: transparent;
color: transparent;
}

.btn-next{
right: 5px;

}
.btn-prev{
left: 5px;
}


.btn-next:hover{
background-color: white;
color: royalblue;
}
.btn-prev:hover{
background-color: white;
color: royalblue;
}
.star{
color: rgb(167, 170, 6);
}

@media only screen and (max-width:800px) {
.container-comment-in{
width: auto;
margin-bottom: 40px;
}
.image{
width: 50px;
height: 50px;
}
.title-coments{
padding: 0px;
font-size: 40px;
width: 270px;
margin:0 auto;
}
.container-img{
width: 50px;
height: 50px;
}
.text-comment{
font-size: 18px;
}
.comment{
padding: 5px;
}
}