
.container-faq{
padding: 90px;
background-image: url('../Assets/Banners.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.faq{
width: 600px;
text-align: left; 
margin:0 auto; 
margin-top: 10px; 
}
.faq-quetion{
display: flex;
border-left:5px royalblue solid;
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(10, 4, 88));
color:rgb(153, 154, 235);
border-radius: 5px ;
}
#btn-faq1{
margin-left: 200px;
}
#btn-faq2{
margin-left: 250px;
}
#btn-faq3{
margin-left: 86px;
}
#btn-faq4{
 margin-left: 101px;
}
.btn-faq{
border: none;
padding: 3px;
float: right;
border-radius: 2px;
color:rgb(153, 154, 235);
margin-left: 50px;
background-color: transparent;
cursor: pointer;
}
.faq-quetion{
font-size: 20px;
font-weight: lighter;
background-color: #f9f9f9;
padding: 10px;
}

.text-faq {
  background-image: linear-gradient(to right, rgb(10, 10, 10), rgb(10, 4, 88));
  padding: 20px;
  color: rgb(153, 154, 235);
  border-radius: 10px;
  border: #f9f9f9 solid 1px;
 height: 0px;
  overflow: hidden;
  transition: 10s ease-out, padding 3s ease-out;
  
}
.text-faq,
 .open {
  max-height: 200px; /* Ajuste conforme necessário */
  padding: 20px; /* Mantém o padding ao abrir */
  transition: 10s ease-in-out;
  height: fit-content ;
}

.title-faq{
font-size: 50px;
color:rgb(153, 154, 235);
text-align: center;
}

.text-first-faq{
width: 500px;
margin:0 auto;
text-align: center;
padding: 40px;
color:rgb(153, 154, 235);
}

@media only screen and (max-width:800px) {
.container-faq{
width: auto;
padding:40px;
height: fit-content;
}
#btn-faq2{
margin-left: auto;
}
#btn-faq1{
margin-left: auto;
}
#btn-faq3{
margin-left:auto;
}
#btn-faq4{
margin-left:auto;
}
.faq{
width: auto;
}
.container-text-faq{
width:auto;
margin:0 auto;
text-align: center;
padding: 0px;
}
.title-faq{
padding: 0px;
font-size: 40px;
margin-top: 20px;
}
.text-first-faq{
padding: 10px;
width: auto;
margin:0 auto;
}
}