
.container-faq{
padding: 90px;
}

.faq{
width: 600px;
text-align: left; 
margin:0 auto; 
margin-top: 10px; 
}
.faq-quetion{
display: flex;
border-left:5px royalblue solid;
}
#btn-faq1{
margin-left: 200px;
}
#btn-faq2{
margin-left: 250px;
}
#btn-faq3{
margin-left: 86px;
}
#btn-faq4{
 margin-left: 101px;
}
.btn-faq{
border: none;
padding: 3px;
float: right;
border-radius: 2px;
color: #555;
margin-left: 50px;
background-color: transparent;
cursor: pointer;
}
.faq-quetion{
font-size: 20px;
font-weight: lighter;
background-color: #f9f9f9;
padding: 10px;
}
.text-faq{
background-color: #f9f9f9;
padding: 20px;
font-size: 16px;
color: #555;
border-radius: 10px;
transition: 0.9s ease;
transition-delay: 5s;
}

.title-faq{
font-size: 50px;
color: royalblue;
text-align: center;
}

.text-first-faq{
width: 500px;
margin:0 auto;
text-align: center;
padding: 40px;
}

@media only screen and (max-width:800px) {
.container-faq{
width: auto;
padding:40px;
height: fit-content;
}
#btn-faq2{
margin-left: auto;
}
#btn-faq1{
margin-left: auto;
}
#btn-faq3{
margin-left:auto;
}
#btn-faq4{
margin-left:auto;
}
.faq{
width: auto;
}
.container-text-faq{
width:auto;
margin:0 auto;
text-align: center;
padding: 0px;
}
.title-faq{
padding: 0px;
font-size: 40px;
margin-top: 20px;
}
.text-first-faq{
padding: 10px;
width: auto;
margin:0 auto;
}
}