.container-first-home{
padding: 100px 0 0 0;
}

.container-first{
display: grid;
width: 700px;
margin: 0 auto;
grid-template-columns: repeat(2,1fr);
}
.title-first-h1{
font-size: 50px;
}
.first{

width: 350px;
height: 350px;
padding: 20px;
text-align: left;
}
.link-home{
text-decoration: none;
padding: 20px;
color: white;
background-color: royalblue;
border-radius: 5px;
}
.link-home:hover{
background-color: blue;
}

.container-link-home{
padding: 30px 0 0 0;
}


.imge-home{
width: 300px;
height: 300px;
}