.container-first-home-about{
margin-top: 100px;
padding: 10px;
}

.container-first{
display: grid;
width: 770px;
margin: 0 auto;
grid-template-columns: repeat(2,1fr);
border-radius: 10px;
}
.title-first-h1{
font-size: 50px;
color:rgb(153, 154, 235);
}
.first{
width: 350px;
height: 350px;
padding: 20px;
text-align: left;
}
.first-text{
width: auto;
height: 350px;
padding: 20px;
text-align: left;
color: rgb(153, 154, 235);
}
.link-home{
text-decoration: none;
padding: 20px;
color:white;
background-color: royalblue;
border-radius: 5px;
}
.link-home:hover{
background-color:blue;
}

.container-link-home{
padding: 30px 0 0 0;
}


.imge-home{
width: 350px;
height: 300px;
}


@media only screen and (max-width:1150px) {
.container-first{
display:grid;
grid-template-columns: repeat(2,1fr);
height:fit-content ;
width: 720px;
margin:0 auto;
padding: 0px;
 }
.first{
width: fit-content;
margin:0 auto;
}
.imge-home{
width: 100%;
margin:0 auto;
}
}

@media only screen and (max-width:800px) {
.container-first{
display:grid;
grid-template-columns: repeat(1,1fr);
height:fit-content ;
width: auto;
margin:0 auto;
padding: 0px;
 }
.first{
width: 340px;
height: fit-content;
}
.imge-home{
width: 100%;
}
}