.container-grow-main{
padding: 90px;
height:fit-content;
background-color: rgb(4, 155, 231);
background-image: url('https://img.freepik.com/vetores-gratis/fundo-de-tecnologia-digital-abstrata-baixa-poli-linhas-de-conexao_1017-25550.jpg?t=st=1714163555~exp=1714167155~hmac=d0910ef56b64c0948dc659eebb6eb1ed68d436fcc0f4aacabb1755099460f61d&w=740');
background-size: cover;
background-attachment: scroll;
}


.container-grow{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
margin:0 auto;
padding: 20px;
width: 700px;
}

.grow{
width: 150px;
color:white;
padding: 40px;
border: 0.1px solid;
border-radius: 5px;
background-color:transparent;
font-weight: 1000;
border-right: 10px solid;
background-color: royalblue;
z-index: 1;
}

.title-grow{
color:rgb(5, 21, 243);
font-size: 55px;
}
