.container-grow-main{
padding: 90px;
height:fit-content;
}


.container-grow{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
margin:0 auto;
padding: 20px;
width: 700px;
}

.icon-grow{
padding: 10px;
font-size: 40px;
color: white;
border-radius: 5px;
}

.grow{
width: 150px;
padding: 40px;
border-radius:10px;
background-color:transparent;
font-weight: 1000;
text-align: center;
background-color: royalblue;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
color: white;
font-family: serif;
}

.title-grow{
color:rgb(38, 16, 235);
font-size: 55px;
}
