.container-new{
height: 500px;
margin-top: 40px;
display: flex;
justify-content: center;
align-items: center;
}
.form-new{
width: 500px;
text-align: left;
width: fit-content;
padding: 30px;
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(10, 4, 88));
border-radius: 10px;
}

.title-new{
font-size: 50px;
color: royalblue;
padding: 20px;
}
label{
color: royalblue;
}
.erro{
color: red;
font-size: 12px;
padding:10px 0 10px 0 ;
}

.erroLength{
color: red;
font-size: 12px;
padding:10px 0 10px 0 ;
width: 400px;
}

.check{
margin-left: 10px;
}
