.container-reset{
text-align: left;
height: 500px;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.form-reset{
text-align: left;
padding: 20px;
margin:0 auto;
width: 500px;
}

.title-reset{
padding: 20px 0 20px 0;
color: royalblue;
font-size: 50px;
}

.label{
margin-top: 10px;
margin-bottom: 6px;
}

.erro{
padding: 10px 0 10px 0;
font-size: 12px;
color: red;
}
.success{
padding: 10px 0 10px 0;
color: blue;
font-size: 12px;
}