.container-slide{
display: flex;
overflow: hidden;
width: 100%;
height: 500px;
background-image: url('../Assets/slide.png');
background-repeat: no-repeat;
background-size: cover;
}

@keyframes animeRight{
    0%{
       transform: translate(100%);
    
    }
    100%{
      transform: translate(0);  
    }
}

.slide{
position: absolute;
border: 1px solid;
height: 500px;
opacity:0;
}

.active-slide{
animation: animeRight 1s ease-in-out;
width: 100%;
height: 500px;
}

.container-bar{
position: absolute;
bottom: 40px;
left:73%;
transform: translate(-50%);
}

.btn-bar{
display: inline-block;
margin-top: -20px;
background-color: rgb(10, 164, 211);
width: 10px;
height: 10px;
border-radius: 50%;
border: none;
cursor: pointer;
}

.active-btn-bar{
background-color:rgb(18, 28, 172);
border: none;
width: 10px;
height: 10px;
border-radius: 50%;
transition: 0.6s ease;
}

.next,
.prev{
border: none;
padding: 20px;
font-size: 20px;
border-radius: 5px;
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 1;
cursor: pointer;
background-color: transparent;
color: transparent;
}

.prev{
right: 740px;
}

.next{
right: 1px;
}

.prev:hover{
background-color: white;
color: royalblue;
}
.next:hover{
background-color: white;
color: royalblue;
}

.container-title-main{
margin-top: 5%;
padding: 100px;
text-align: left;
width: 50%;
height: fit-content;
}

.title{
font-size: 55px;
color:rgb(14, 14, 212);
}

.text{
font-size: 20px;
color:white;
z-index: 100;
}



.link-slide{
background-color:royalblue;
padding: 20px;
border-radius: 5px;
text-decoration: none;
color: white;
transition: 0.2s;
display: block;
width: fit-content;
}

.link-slide:hover{
background-color: rgb(7, 63, 231);
}

.container-text-slide{
padding: 80px  10px 10px 80px;
width: 60%;
text-align: left;
border-radius:0 0 0px ;
}

@media only screen and (max-width:800px) {
.container-slide{
display: block;
height: fit-content;
}
 
.container-text-slide{
margin: 0 auto;
width: auto;
border-radius: 10px ;
padding: 20px;
height: auto;
}
.container-link-main{
margin-bottom: 20px;
}
.active-btn-bar{
opacity: 0;
 } 
.btn-bar{
  opacity: 0;
 }
}
@media only screen and (max-width:1024px) {
.container-slide{
display: block;
height: fit-content;
 } 

.active-btn-bar{
  opacity: 0;
 }
 .btn-bar{
  opacity: 0;
 } 
}