.container-slide{
display: flex;
overflow: hidden;
width: 100%;
height: 500px;
}

@keyframes animeRight{
    0%{
       transform: translate(100%);
    
    }
    100%{
      transform: translate(0);  
    }
}

.slide{
position: absolute;
border: 1px solid;
height: 500px;
opacity:0;
}
.active-slide{
animation: animeRight 1s ease-in-out;
width: 100%;
height: 500px;
}
.container-bar{
position: absolute;
bottom: 40px;
left:50%;
transform: translate(-50%);
}

.btn-bar{
display: inline-block;
margin-top: -20px;
background-color: rgb(10, 164, 211);
width: 10px;
height: 10px;
border: none;
cursor: pointer;
border-radius:360px ;
margin: 5px;
}

.active-btn-bar{
border-radius:360px ;
background-color:rgb(18, 28, 172);
border: none;
width: 15px;
height: 15px;
transition: 0.6s ease;
margin: 5px;
}

.next,
.prev{
border: none;
padding: 20px;
font-size: 20px;
border-radius: 5px;
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 1;
cursor: pointer;
background-color: transparent;
color: transparent;
}

.prev{
left: 10px;
}

.next{
right: 10px;
}

.prev:hover{
background-color: white;
color: royalblue;
}
.next:hover{
background-color: white;
color: royalblue;
}

.container-title-main{
margin-top: 5%;
padding: 100px;
text-align: left;
width: 50%;
height: fit-content;

}

.title{
font-size: 50px;
color: royalblue;
}

.text{
font-size: 20px;
color: rgb(8, 121, 250);
}

.container-link-main{
margin-top: 30px;

}

.link-main{
background-color: royalblue;
padding: 20px;
border-radius: 5px;
text-decoration: none;
color: white;
}
.link-main:hover{
background-color: rgb(7, 63, 231);
}