.container-main-team {
padding: 20px 50px 90px 50px;
text-align: center;
width: auto;
background-color: #051842;
box-sizing: border-box;
}

.title-team {
color: rgb(153, 154, 235);
padding: 20px;
font-size: 50px;
}

.text-team {
margin: 0 auto;
padding: 20px;
font-size: 22px;
color: rgb(153, 154, 235);
font-family: sans-serif;
}

.hability {
font-size: 20px;
margin: 2px;
font-family: sans-serif;
color: rgb(153, 154, 235);
}

.container-card-team {
width: fit-content;
height: fit-content;
margin: 0 auto;
gap: 10px;
display: grid;
grid-template-columns: repeat(3, 1fr);
padding: 10px;
}

.icon-quote {
  margin: 4px;
}

.name {
color: rgb(153, 154, 235);
}

.card-team {
box-shadow: 0px 5px 15px rgba(40, 40, 139, 0.1);
width: 305px;
height: auto;
border-radius: 20px;
padding: 15px 0px 0px 0px;
border: 1px solid white;
}

.card-team:hover {
transform: scale(1.04);
transition: 0.8s ease-out;
color: blue;
}

.container-team-text {
padding: 15px;
border-radius: 0px 0px 20px 20px;
color: rgb(153, 154, 235);
text-align: center;
}
.container-card-img{
width: 130px;
height: 130px;
margin: 0 auto;
border-radius: 360px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
background-color: royalblue;
}

.img-team {
width: 90px;
height: 115px;
border-radius: 5px;
}

.team-icon {
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

@media only screen and (max-width: 1150px) {
.container-main-team{
padding: 0px 0px 100px 0px ;
height: fit-content;
}
.container-card-team{
display: grid;
grid-template-columns: repeat(2,1fr);
}
}

@media only screen and (max-width: 800px) {
.container-main-team{
padding: 0px 0px 100px 0px ;
height: fit-content;
}
.container-card-team{
display: grid;
grid-template-columns: repeat(1,1fr);
}
.text-team{
padding: 10px;
}
}