.contaneir-main-team{
background-color:rgb(188, 190, 192);
padding: 20px 50px 90px 50px;
}
.title-team{
color:black;
padding: 20px;
font-size: 50px;
}
.text-team{
width: 600px;
margin:0 auto;
padding: 20px;
font-size: 22px;
}
.contaneir-team{
width: fit-content;
height:fit-content;
margin:0 auto;
gap: 10px;
display: grid;
grid-template-columns: repeat(3,1fr);
padding: 10px;
}

.text-team{
color: rgb(26, 26, 27);
}
.txt-team{
font-size: 20px;

margin: 2px;
}
.icon-team{
margin-left: 4px;
}
.icon-teamleft{
margin-right: 4px;
}
.titl-team{
color: black;
}
.team{
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
width: 300px;
height: 290px;
background-color:#f9f9f9;
border-radius: 20px;
padding: 20px;
}
.container-team-text{
padding: 20px;
}

.container-img-team{
width: 130px;
height: 130px;
margin:0 auto;
border-radius: 360px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}
.img-team{
width: 90px;
height: 115px;
border-radius: 5px;
}
.bar{
background-color: rgb(43, 116, 226);
height: 100px;
}
.footer-link-comp{
padding: 10px 0px 10px 0;
color: #555;
}
.team-icon{
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

.youtube-team{
font-size: 20px;
}
.facebook-team{
font-size: 20px;

}