.container-main-tecno{
border: none;
}

.container-tecno{
margin:0 auto;
display: grid;
gap: 15px;
grid-template-columns: repeat(3,1fr);
padding: 20px;
width:fit-content;
}
.title-tecno{
color: rgb(153, 154, 235);
}
.text-tecno{
font-size: 20px;
color: rgb(153, 154, 235);
text-align: center;
}
.container-tecno-title{
border-radius: 5px;
padding: 20px;
text-align: center;
}
.title-home-tecno{
font-size: 50px;
text-align: center;
color:rgb(153, 154, 235);

}

.title-tecno-h2{
color:rgb(153, 154, 235);
}
/*box-shadow: 0px 5px 15px rgba(40, 40, 139, 0.1);*/
.tecno{
box-shadow: 0px 5px 15px rgba(40, 40, 139, 0.1);
width: 300px;
height: auto;
border-radius: 20px;
padding: 20px;
text-align: center;
border: 1px solid white;
}
.tecno:hover{
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(10, 4, 88));
transform:  scale( 1.04);
transition: 0.8s ease-out;
}
.container-text{
text-align: left;
padding: 20px;
}

.image-tec{
width: 300px;
height: 200;
border-radius: 5px;
}

.icon-server{
color: white;
padding: 20px;
font-size: 20px;
background-color: rgb(40, 87, 230);
border-radius: 5px;
}

.title-color{
color: blueviolet;
}

.text-tecno-p{
color:rgb(153, 154, 235);
}

@media only screen and (max-width:1150px) {
.container-tecno{
display:grid;
grid-template-columns: repeat(2,1fr);
height:auto;
gap: 10px;
width: auto;
 } 
.tecno{
width: auto;
height: fit-content;
}
}

@media  screen and (max-width:800px) {
.container-tecno{
display:grid;
grid-template-columns: repeat(1,1fr);
height: fit-content;
padding: 10px 10px 40px 10px;
 } 

.container-tecno-title{
padding: 10px;
margin-bottom: 20px;
margin-top: 20px;
}
.tecno{
margin:0 auto;
}
.container-main-tecno{
border: none;
padding: 0px;
}
}





