.container-main-work{
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(10, 4, 88));
width: 100%;
}

.container-work{
display: grid;
margin:0 auto;
grid-template-columns: repeat(2,1fr);
width: fit-content;
padding: 90px;
}
.work-first{
width: auto;
height: fit-content;
text-align: left;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
}
.work{
width: fit-content;
height:auto;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.image-work{
width: 410px;
height: 410px;
border-radius: 10px;
z-index: 1;
background-color:royalblue;
border-radius: 360px;
}
.span-title{
color: blueviolet;
}
.icon{
font-size: 60px;
text-align: center;
color: white;
}
.icon-text-work{
background-color: white;
padding: 2px 5px 2px 5px;
font-size: 16px;
border-radius: 5px;
margin-right: 5px;
color: blueviolet;
}
.in-work{
padding: 23px;
}
.title-work{
color: rgb(153, 154, 235);
font-size: 50px;
}
.text-work{
font-size: 20px;
color: rgb(153, 154, 235);
margin-top: 5px;
}

.link-container{
margin-top: 10px;
padding-top:20px;
margin-bottom: 30px;
}
.link-work{
background-color: royalblue;
padding: 20px;
border-radius: 5px;
text-decoration: none;
color: white;
}
.link-work:hover{
background-color: rgb(7, 63, 231);
}

@media only screen and (max-width:1150px) {
.container-work{
display: grid;
grid-template-columns: repeat(2,1fr);
height: fit-content;
width: auto;
padding: 10px 10px 100px 10px;
}

.work-first{
width: 350px;
padding: 10px;
margin-bottom: 20px;
}

.in-work{
padding: 10px;
}
.image-work{
width:auto;
height: 320px;
padding: 10px;
margin-top: 0px;
margin: auto;
}
.title-work{
margin-top: 20px;
}
.work{
width: 360px;
height: auto;
}

}

@media only screen and (max-width:800px) {
.container-work{
display: grid;
grid-template-columns: repeat(1, 1fr);
width: auto;
}
.in-work{
display: grid;
grid-template-columns: repeat(1,1fr);
}


.work{
margin:0 auto;
width: auto;
}
.work-first{
margin:0 auto;
width: auto;
}
.image-work{
width: auto;}
}

