.container-main-work{
background-color: rgb(182, 187, 233);
}

.container-work{
display: grid;
margin:0 auto;
grid-template-columns: repeat(2,1fr);
width: fit-content;
padding: 90px;
}
.work-first{
width: 500px;
height: 520px;
text-align: left;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
}
.work{
width: 600px;
height:500px;
text-align: left;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-radius: 10px;
background-color: royalblue;
}

.image-work{
width: 500px;
height: 500px;
border-radius: 10px;
z-index: 1;
margin-top: -50px;
}
.span-title{
color: blueviolet;
}
.icon{
font-size: 60px;
text-align: center;
color: white;
}
.in-work{
padding: 23px;
}
.text-work{
font-size: 20px;
color: black;
}
.link-container{
margin-top: 10px;
padding-top:20px;
}
.link-work{
background-color: royalblue;
padding: 20px;
border-radius: 5px;
text-decoration: none;
color: white;
}
.link-work:hover{
background-color: rgb(7, 63, 231);
}