.main-container-footer{
padding: 30px 0 0 0px;
background-color:#080b13;
box-sizing: border-box;
margin-top: 0px;
}
.container-footer{
display: grid;
grid-template-columns: repeat(4,1fr);
width: fit-content;
margin:0 auto;
padding: 20px;
height:61vh;
}

.footer{
padding: 10px;
width: 200px;
height: fit-content;
text-align: left;
}
.container-brand{
height: fit-content fit-content;
}
.brand-span{
color: white;
}
.center-text{
float: none;
text-align: center;
}
.container-link-footer{
width: fit-content;;
}

.footer-link{
text-decoration: none;
width: fit-content;
display: block;
padding: 10px 0px 10px 0px;
width: fit-content;
border-radius: 5px;
color: royalblue;
font-size: 20px;
}
.text-footer{
font-size: 18px;
color: rgb(91, 126, 231);
text-align: left;
}
.footer-link:hover{
color: white;
transition: 0.5s ease-out;
}

.p-allright{
padding: 20px;
text-align: center;
color: antiquewhite;
background-color: black;
}

.container-midia{
display: grid;
grid-template-columns:repeat(3,1fr);
gap: 10px;
margin-left: 0px;
}

.btn-footer{
cursor: pointer;
width: fit-content;
padding: 0 0 0 10px;
}
.midia-facebook{
width: 20px;
height: 15px;
margin-top: 2px;
color:white;
border-radius: 5px;
transition: 0.5s;
}
.midia-facebook:hover{
    transform: scale(1.2);
 }
.midia-instagram{
width: 20px;
height: 15px;
margin-top: 2px;
color:white;
transition: 0.5s;
}

.midia-instagram:hover{
   transform: scale(1.2);
}
.midia-youtube{
width:20px;
height: 15px;
color: white;
transition: 0.5s;
}
.midia-youtube:hover{
    transform: scale(1.2);
 }

.footer-title{
text-align: left;
font-size: 25px;
padding: 0 0 20px 0;
border-radius: 5px;
color: royalblue;
}
.cont-footer-link{
display: flex;
flex-direction: column;
}

#link-f{
width:auto;
color: royalblue;
}
#link-f:hover{
color: white;
}
@media only screen and (max-width:1150px) {
.container-footer{
display:grid;
grid-template-columns: repeat(2,1fr);
height: auto;
width:fit-content;
 } 
.main-container-footer{
width: auto;
 }
 .container-footer div:nth-child(1){
height: fit-content;
}
 .footer{
margin:0 auto;
width: fit-content;
height: fit-content;
 }
}

@media only screen and (max-width:800px) {
.container-footer{
display:grid;
grid-template-columns: repeat(1,1fr);
width: fit-content;
} 
.main-container-footer{
width: auto;
 }
 .footer{
margin:0 auto;
width: 160px;
 }
}