.main-container-footer{
background-color: rgb(197, 206, 203);
padding: 30px 0 0 0px;
}

.container-footer{
display: grid;
grid-template-columns: repeat(4,1fr);
width: fit-content;
margin:0 auto;
padding: 20px;
height: 56vh;
}

.footer{
padding: 10px;
width: 260px;
height: fit-content;
}
.container-link-map{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0 auto;
width: fit-content;;
}

.footer-link{
text-decoration: none;
width: fit-content;
display: block;
padding: 10px;
width: fit-content;
border-radius: 5px;
color: #555;
font-size: 20px;
}
.text-footer{
font-size: 18px;
color: #555;
}
.footer-link:hover{
background-color: rgb(225, 227, 230);
color: royalblue;
}

.p-allright{
background-color: black;
padding: 20px;
text-align: center;
color: antiquewhite;
}

.container-midia{
display: grid;
grid-template-columns:repeat(3,1fr);
gap: 10;
}

.footer-link-signUp{
padding: 0 0 0 10px;
}
.btn-footer{
cursor: pointer;
width: fit-content;
padding: 0 0 0 10px;
}
.midia-facebook{
width: 47px;
height: 45px;
margin-top: 2px;
color: #0660d4;
}

.midia-instagram{
width: 50px;
height: 45px;
margin-top: 2px;
color:rgb(168, 13, 189);

}

.midia-youtube{
width:42px;
margin-top: -5px;
height: 55px;
color: rgb(179, 9, 9);
}
#footer-follow{
display: flex;
justify-content: center;
gap: 10px;
}

.footer-title{
text-align: center;
font-size: 20px;
padding: 10px;
border-radius: 5px;
}
