.main-container-footer{
padding: 30px 0 0 0px;
background-image: linear-gradient(to right ,rgb(10, 10, 10),rgb(7, 3, 68));
box-sizing: border-box;
}
.container-footer{
display: grid;
grid-template-columns: repeat(3,1fr);
width: fit-content;
margin:0 auto;
padding: 20px;
height:61vh;
}

.footer{
padding: 10px;
width: 260px;
height: fit-content;
text-align: center;
}
.center-text{
float: none;
text-align: center;
}
.container-link-map{
margin: 0 auto;
width: fit-content;;
}

.footer-link{
text-decoration: none;
width: fit-content;
display: block;
padding: 10px;
width: fit-content;
border-radius: 5px;
color: royalblue;
font-size: 20px;
}
.text-footer{
font-size: 18px;
color: rgb(91, 126, 231);
text-align: left;
}
.footer-link:hover{
background-color: blue;
color: white;
transition: 0.8s ease-out;
}

.p-allright{
padding: 20px;
text-align: center;
color: antiquewhite;
}

.container-midia{
display: grid;
grid-template-columns:repeat(3,1fr);
gap: 10;
}

.footer-link-signUp{
padding: 0 0 0 10px;
}
.btn-footer{
cursor: pointer;
width: fit-content;
padding: 0 0 0 10px;
}
.midia-facebook{
width: 20px;
height: 15px;
margin-top: 2px;
color:white;
border-radius: 5px;
transition: 0.5s;
}
.midia-facebook:hover{
    transform: scale(1.2);
 }
.midia-instagram{
width: 20px;
height: 15px;
margin-top: 2px;
color:white;
transition: 0.5s;
}

.midia-instagram:hover{
   transform: scale(1.2);
}
.midia-youtube{
width:20px;
height: 15px;
color: white;
transition: 0.5s;
}
.midia-youtube:hover{
    transform: scale(1.2);
 }

#footer-follow{
display: flex;
justify-content: center;
gap: 10px;
}

.footer-title{
text-align: center;
font-size: 20px;
padding: 10px;
border-radius: 5px;
color: rgb(153, 154, 235)
}
.cont-footer-link{
display: flex;
flex-direction: column;
align-items: center;
}

#link-f{
background-color:royalblue;
width:auto;
margin-top: 10px;
color: white;
}
#link-f:hover{
background-color: blue;
}
@media only screen and (max-width:1150px) {
.container-footer{
display:grid;
grid-template-columns: repeat(2,1fr);
height: auto;
width:fit-content;
 } 
.main-container-footer{
width: auto;
 }
 .footer{
margin:0 auto;
width: fit-content;
 }
}

@media only screen and (max-width:800px) {
.container-footer{
display:grid;
grid-template-columns: repeat(1,1fr);
width: fit-content;
} 
.main-container-footer{
width: auto;
 }
 .footer{
margin:0 auto;
 }
}