.container-nav{
background-repeat: no-repeat;
background-size: cover;
background-image: url(../Assets/Bannerheader.png);
margin-bottom: 0px;
}


.nav-bar{
padding-top: 20px;
text-align: right;
}

.nav-link{
text-decoration: none;
color: royalblue;
padding: 12px;
border-radius: 5px;
transition: 0.5s ease;
gap:20px;
font-size: 20px;
font-weight: 100px;
}

.nav-brand{
text-decoration: none;
font-weight: bold;
background-color: transparent;
margin-left: 30px;
font-size: 30px;
color: royalblue;
font-family: cursive;
}
.brand{
color: blueviolet;
}
.nav-link:hover{
background-color: royalblue;
color: white;
transition: 0.8s ease;
}
.active{
background-color: royalblue;
color: white;
}

.container-signIandSignUp{
float: right;
display: flex;
}

.link-logout{
padding: 12px;
color: royalblue;
border-radius: 5px;
text-decoration: none;
font-size: 20px;
font-weight: 100px;
margin: 5px;
}

.link-logout:hover{
background-color: rgb(175, 34, 50);
color: white;
}

.user-icon{
text-decoration: none;
cursor: text;
font-size: 20px;
width:fit-content;
height:fit-content;
color:white;
margin-top: -50px;
padding: 5px;
background-color: royalblue;
border-radius: 390px;
margin-right: 10px;
}

.container-brand{
padding: 10px;
margin-bottom: -70px;
margin-left: -20px;
}

.link-brand{
text-decoration: none;
}

.animate{
transition:ease-in-out 0.5s;
opacity: 0;
}
.btn-toggle{
display: none;
}
@media only screen and (max-width:800px) {
.nav-bar{
display: flex;
flex-direction: column;
height: fit-content;
text-align: left;
padding: 0 0 0 0;
}
}   
@media only screen and (max-width:900px) {
.nav-bar{
display: flex;
flex-direction: column;
height: fit-content;
text-align: left;
padding: 0 0 0px 0;
}

.icon-toggle {
transform: rotate(360deg) translate();
width: 100%;
transition: all 0.3s ease;
font-size: 20px;
}
.btn-toggle{
display: block;
color: #fff;
background: royalblue;
border: none;
padding: 10px;
border-radius: 5px;
margin-left: auto;
float: right;
}
.user-icon{
margin-top: 20px;
width: fit-content;
margin-left: 20px;
}
.container-brand{
margin-bottom: 0px;
}
}